<template>
  <div>
    <div v-if="!(emailOrUsername && client)">
      <input type="text" required placeholder="emailOrUsername" v-model="emailOrUsername">
      <button @click="connect">Connect</button>
    </div>
    <div v-else>
      <h3>{{ emailOrUsername }}</h3>
      <br><br><br>
      <table>
        <thead>
        <tr>
          <th>Online</th>
          <th>Name</th>
          <th>Join</th>
          <th>Streaming Status</th>
          <th>Audio</th>
          <th>Volume</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(channel, key, index) in channels" :key="index">
          <td>
            <span v-if="channel.joined" class="indicator" style="background-color: green;">O</span>
            <span v-else class="indicator">O</span>
          </td>
          <td>{{ channel.description }}</td>
          <td>
            <button @click="toggleJoin(channel.id)">
              {{ channel.joined ? 'leave' : 'join' }}
            </button>
          </td>
          <td style="text-align: center;">
          <span v-if="channel.streamingState === 'STREAMING'" style="background-color: yellow;">
            {{ channel.streamingState }}
          </span>
            <span v-else>{{ channel.streamingState }}</span>
          </td>
          <td>
            <button @click="togglePlay(channel.id)" :disabled="!channel.joined">
              {{ channel.audioPaused ? 'play' : 'mute' }}
            </button>
            <audio :ref="`audioElement_${channel.id}`" />
          </td>
          <td>
            <input
                type="number"
                id="volume"
                min="0"
                max="1"
                step="0.1"
                :disabled="!channel.joined"
                :value="channel.volume"
                @change="setVolume($event, channel.id)"
            />
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</template>

<script>
import SquawkSDK from '@benzinga/benzinga-squawk-sdk'
import axios from 'axios'

export default {
  data() {
    return {
      emailOrUsername: null,
      client: null,
      channels: {},
      jwtToken: null
    }
  },
  methods: {
    async connect() {
      if(!this.emailOrUsername) { return }

      const authClient = axios.create({
        baseURL: "https://staging-wc-authorization-serve.herokuapp.com/",
      })

      const { data } = await authClient.post("/userinfo", {
        emailOrUsername: this.emailOrUsername,
      })

      this.jwtToken = data.jwtToken

      await this.initializeSquawkClient(this.jwtToken)
      await this.getChannels()
    },
    async getChannels() {
      const availableStreams = await this.getAvailableStream()
      const streams = availableStreams.streams || []
      const channels = streams
          .filter(stream => stream.allowedListening)
          .map(stream => {
            stream.joined = false
            stream.volume = 0.5
            stream.audioPaused = true
            stream.streamingState = 'NEUTRAL'
            return stream
          })
      const channelsObj = {}
      channels.forEach(channel => {
        console.log(channel)
        channelsObj[channel.id] = channel
      })
      this.channels = channelsObj
      console.log(Object.values(this.channels))
    },
    async toggleJoin(channelId) {
      let rtcState
      try {
        rtcState = await this.client.getChannelState(channelId)
      } catch (e) {
        this.channels[channelId].joined = false
      }

      try {
        if(rtcState === 'CONNECTED') {
          await this.stopListening(channelId, null)
          this.channels[channelId].joined = false
          console.log('Unsubscribed to channel: ', channelId)
        } else {
          await this.startListening(channelId, null)
          this.channels[channelId].joined = true
          console.log('Subscribed to channel: ', channelId)
        }

      } catch (e) {
        console.log(e)
      }
    },
    async togglePlay(channelId) {
      try {
        const audioElem = this.$refs[`audioElement_${channelId}`][0]
        audioElem.controls = false
        audioElem.volume = this.channels[channelId].volume
        if(audioElem.paused) {
          this.client.unMuteChannel(channelId)
          await audioElem.play()
        } else {
          this.client.muteChannel(channelId)
          audioElem.pause()
        }
        this.channels[channelId].audioPaused = audioElem.paused
      } catch (e) {
        console.log(e)
      }
    },
    async initializeSquawkClient(key) {
      const transportConfig = {
        maxRetry: 10000,
        serverAddress: 'wss://squawk.benzinga.com/ws/v4/squawk',
      }
      const vueRefs = this.$refs
      const setStreamingState = (channelId, value) => {
        this.channels[channelId].streamingState = value
      }
      const onMediaOverride = async (channelId) => {
        const audioElem = this.$refs[`audioElement_${channelId}`][0]
        audioElem.pause()
        this.channels[channelId].audioPaused = true
        this.channels[channelId].joined = false
      }
      const sdkCallback = {
        onMediaOverride(channelId) {
          console.log("onMediaOverride, channelId: " + channelId)
          onMediaOverride(channelId)
        },
        onPresenterStateChange(presenterState, channelId) {
          console.log("onPresenterStateChange, presenterState: " + presenterState)
          console.log("onPresenterStateChange, channelId: " + channelId)
          setStreamingState(channelId, presenterState)
        },
        onRTCStateChange(rtcState, channelId) {
          console.log("onRTCStateChange, rtcState: " + rtcState)
          console.log("onRTCStateChange, channelId: " + channelId)
        },
        onRemoteStream(e, channelId) {
          console.log("Attaching srcObject with audio element, channelID: " + channelId)
          const audioElem = vueRefs[`audioElement_${channelId}`][0]
          audioElem.srcObject = e
        },
        onTransportStateChange(transportState) {
          console.log("onTransportStateChange, transportState: " + transportState)
        }
      }
      const builder = new SquawkSDK.Builder(transportConfig, sdkCallback)
      this.client = builder
          //.withDebug()
          .withJWT()
          .asListener()
          .build()

      return await this.client.initialize(key)
    },
    async startListening(channelId, element) {
      return await this.client.subscribeChannel(channelId, element)
    },

    async stopListening(channelId) {
      return await this.client.unsubscribeChannel(channelId)
    },

    async getAvailableStream() {
      return await this.client.getAvailableChannels()
    },
    toggleAudio(channelId, makeMute) {
      if (makeMute) this.client.muteChannel(channelId)
      else this.client.unMuteChannel(channelId)
    },
    async dispose() {
      try {
        await this.client.stop()
      } catch (e) {
        // eslint-disable-next-line no-console
        console.warn(e)
      } finally {
        this.client = undefined
      }
    },
    setVolume(event, channelId) {
      const audioElem = this.$refs[`audioElement_${channelId}`][0]
      audioElem.volume = event.target.value
    }
  },
}
</script>

<style scoped>
table {
  border: 1px black;

}
.indicator {
  padding: 2px;
}
</style>
