<template>
  <div id="app">
    <benzinga-squawk />
  </div>
</template>

<script>
import BenzingaSquawk from './components/BenzingaSquawk.vue'

export default {
  name: 'App',
  components: {
    BenzingaSquawk
  }
}
</script>

<style></style>
